[2012-11-06 01:42] jasonlerch opened #2 "missing defines PROJECT_NAME and PROJECT_VERSION"
Display refuses to compile due two missing defines. Adding the following two lines somewhere at the top of main.c fixes the problem (though the defines are guesses on my part):

#define PROJECT_NAME "Display"
#define PROJECT_VERSION 1.5

[2014-10-20 20:38] gdevenyi opened #5 "Please update submodules to use https"
Like https://github.com/BIC-MNI/minc-toolkit/commit/79c9c17b6cd9f8179d61c3d9b298e997fba0eee1

Some submodules of Display use git:// right now

Thank you

[2015-06-30 21:12] rdvincent commented on #2
These are now defined in config.h

[2015-06-30 21:12] #2 closed

[2015-07-21 14:15] gdevenyi opened #6 "Display in minc-toolkit-v2 still asks for input on command line after closing dialog box"
I love the new dialog box popup when Display asks for text input, however if I press "Cancel" the old text prompt still shows on the command line, rather than cancelling the action.

[2015-07-21 14:22] gdevenyi opened #7 "Display in minc-toolkit-v2 won't label unless the cursor moves"
When trying to draw labels with the right mouse button we find that doing a single right click will not result in a label (unlike the older Display).

This means that I am unable to label a single voxel without drawing at least a line of two voxels.

[2015-08-11 21:02] gdevenyi opened #8 "Change lookup table for labels?"
I'd like to generate a "visually distinct" colormap for Display's labels, using the tool http://tools.medialab.sciences-po.fr/iwanthue/

Based on https://github.com/BIC-MNI/Display/blob/850a50a4fa17349c0538673823607b0c1ebd7e37/slice_window/colour_coding.c#L85-L146 the colours are generated on the fly, is there somewhere I can override that?

[2015-08-12 18:25] rdvincent commented on #8
The "Load Colour Map" command should do what you want. It's under the "File" menu. You need to create a file with the extension ".map" that contains a series of lines of the form:
<label number> <desired-colour>
The colour can be specified as three R G B values in the range 0-1, or as one of the colour names Display recognizes (e.g. "blue").

[2015-08-14 16:10] rdvincent commented on #8
@gdevenyi Have you tried this yet?

[2015-08-14 17:29] gdevenyi commented on #8
Woops, I didn't see your original reply. Yes it does!

Here's my map (generated from iwanthue) if you want to give it a try http://cobralab.net/files/label-lookup.map

[2015-08-14 17:29] #8 closed

[2015-08-14 17:30] gdevenyi commented on #8
P.S. Any way I can do this on the command line?

[2015-08-14 17:35] rdvincent commented on #8
@gdevenyi Display should correctly load colormap files and labels from the command line.

[2015-08-14 17:38] gdevenyi commented on #8
So it does. I was expecting a flag but it will just happily use the file if you give it as an input. Thanks!

[2015-08-14 18:03] rdvincent commented on #8
A flag is required to differentiate label files from other .mnc files, but .obj and .map files don't require any special flag.

[2015-08-14 18:24] gdevenyi commented on #8
I generated a new map which cuts out the low-lightness colours so that colours are more distinct from the greyness of the brain:
http://cobralab.net/files/distinct-labels.map

Finding this really helpful for lots of labels in small regions. Thanks for your help!

[2015-09-01 18:12] gdevenyi opened #9 "Feature Request: Undo stack"
Being able to undo more than one step would be immensely helpful when one makes two errors in a row during a careful segmentation, especially when the first of those errors was a fill.

[2015-09-01 19:07] rdvincent commented on #9
Thanks for the suggestion. I'll look into it.

[2015-09-21 19:33] rdvincent commented on #9
See dd92b621fb84d2d4304dcf55ab0fb086580e75c7

[2015-09-21 19:33] #9 closed

[2015-09-21 21:04] gdevenyi commented on #9
WOW, my segmenters are going to *love* this.

[2015-09-21 21:05] gdevenyi commented on #7
Fixed by 7856c80ca4a389c4b73c1dcea353415a898b32e4

[2015-09-21 21:05] #7 closed

[2015-09-21 21:05] gdevenyi commented on #6
Fixed by  4618624a3108e2639af45147b8f26f42c670dd3d

[2015-09-21 21:05] #6 closed

[2015-11-03 14:36] gdevenyi opened #10 "Display 63f8c2f Segfaults if run without input file"
[code]

[code]

[2015-11-03 14:38] gdevenyi commented on #10
Built as part of minc-toolkit-V2 develop superbuild last night.

[2015-11-03 14:52] rdvincent commented on #10
@gdevenyi I'm not seeing the same thing. Can you send me your Display.globals file?

[2015-11-03 14:52] rdvincent commented on #10
@gdevenyi Also, what platform are you running on?

[2015-11-03 14:54] gdevenyi commented on #10
Where would I find Display.globals?

Built on Ubuntu 14.04.3

[2015-11-03 14:58] rdvincent commented on #10
@gdevenyi Display.globals is typically in the user's home directory, although it can also be in the install lib directory (e.g. /usr/local/lib). Yours has some obsolete variables in it, which is why you're getting those initial messages.

[2015-11-03 15:00] gdevenyi commented on #10
Display.globals found in <installdir>/lib
[code]

[2015-11-03 15:09] gdevenyi commented on #10
(this is the file that was installed as part of the minc-toolkit-v2 build)

[2015-11-03 15:12] rdvincent commented on #10
@gdevenyi Thanks. I am looking into it. I can't reproduce it yet on my 14.04 system.

[2015-11-03 16:53] rdvincent commented on #10
@gdevenyi How do you check out the develop branch? Are you using develop for each of the subprojects?

[2015-11-03 16:58] gdevenyi commented on #10
[code]

This checks out develop, and all the submodules which develop points at.

[2015-11-03 17:00] gdevenyi commented on #10
Whoops, my mistake, I that checks out 63f8c2f for Display

I am a few commits behind HEAD for Display, this may be an issue.

[2015-11-03 17:04] rdvincent commented on #10
My experience has been that I have to use a separate command to get the develop branch for everything, but I'm not that familiar with the ```--branch``` option with ```clone```.

```git submodule foreach --recursive 'git checkout develop || :'```

[2015-11-03 17:06] gdevenyi commented on #10
In your example case above, you would be checking out HEAD for the develop branch for each submodule.

In my case, I'm checking out HEAD for minc-toolkit-v2 develop branch, and git checks out each submodule's explicit hash that @vfonov has listed for the develop branch of minc-toolkit-v2

[2015-11-03 17:07] gdevenyi commented on #10
As in, see https://github.com/BIC-MNI/minc-toolkit-v2/tree/develop, notice that each submodule says \<submodule\>@HASH

[2015-11-03 17:28] rdvincent commented on #10
Exactly. The minc-toolkit and minc-toolkit-v2 projects are not updated every time I push to develop, so inconsistencies can creep in. This was fixed in 99411373

[2015-11-03 17:37] gdevenyi commented on #10
Okay :-)

I'll give your git command a try to get the HEAD of all submodules.

[2015-11-03 17:37] #10 closed

[2015-11-03 18:07] gdevenyi commented on #10
Small followup: what about Display.globals? Should there be a newer one in the minc-toolkit-v2 distro?

[2015-11-03 18:10] rdvincent commented on #10
It does not really belong in the distro, so I am going to remove it. The Display.globals file is really only meant for user customization, and the new documentation will describe some of the more important functionality.

[2015-11-04 20:26] gdevenyi opened #11 "Feature Request/Idea: Line Intensity Profile Popup"
In a tool such as ImageJ I can draw a line and get a popup for a 2D plot of intensity vs. position along the line (see "Plot Profile" in http://imagej.sourceforge.net/docs/menus/analyze.html)

I think this may be of use for manual segmenters to better visualize contrasts.

[2015-11-04 20:29] rdvincent commented on #11
I've been asked for similar things before. I'll add it to the pile, thanks!

[2015-11-10 14:46] gdevenyi opened #12 "Feature Request: arbitrary vertex-wise colouring for surfaces"
It would be nice to support the vertex-wise numbered stats files a-la brain-view2, they consist of a single column of numbers in the same order as the vertices of a given object.

[2015-11-10 14:47] gdevenyi opened #13 "Feature Request: Redo (Ctrl-Shift-Z)"
With N-undo now available, it would be beneficial to also have Redo in case of accidental undo

[2015-11-10 14:57] gdevenyi opened #14 "Feature Request: Selection of arbitrary colour maps for labels in-program"
Our anatomists currently choose label numbers based on having distinct colours for their painting work, which results in some odd label numbers when saved, it would be nice to have an interface to choose both label number and colour independently.

[2015-11-10 14:59] gdevenyi opened #15 "Feature request: N-volume/colour mapping hybrid contrasts"
I understand Display now has contrasts based on the ratio of two volumes, it would be interesting to generalize this to N-colour mapping (RGB 3-volume contrasts being the immediate application)

[2015-11-10 15:00] gdevenyi commented on #12
Similarly, saving surface labels in such a format would be helpful for anatomy painters.

[2015-11-10 15:02] gdevenyi opened #16 "Feature request: Arbitrary Colour map control for surface colouring"
Arbitrary colour maps for surfaces (as well as threshold control) would be helpful for displaying statistics on surfaces.

[2015-11-10 15:12] gdevenyi opened #17 "Feature request: perceptually uniform colourmaps"
A lot of default colourmaps are misleading, with slight tweaks they can be corrected.

See http://peterkovesi.com/projects/colourmaps/

[2015-11-10 15:17] #5 closed

[2015-11-10 15:22] rdvincent commented on #15
I may have given the wrong impression at the talk - the ratio is just displayed as part of the numeric readout in the lower left corner of the slice window.

How do you imagine this working? It is already possible to map one volume to red, another to green, and yet another to blue. I'm not sure the actual merging of them on the display is optimal, or even correct, but we may be able to address thi

[2015-11-10 15:26] gdevenyi opened #18 "Feature Request: Perceptually distinct colourmaps for labels"
Default label colours start to get hard to visualize beyond 5+ labels. It is possible to generate colourmaps that are equidistant in colour space to improve viewing.

See attached.
[code]

Generated from http://tools.medialab.sciences-po.fr/iwanthue/ with a "dark" background preset.

[2015-11-10 15:30] gdevenyi commented on #15
The way I imagine this working is as in the RGB additive colour space so that 255R 255G 255B = White. I think right now that Display kind overlaps colours so we end up with a subtractive colour so where there is the most info we get "dark"

[2015-11-10 15:37] gdevenyi opened #19 "Feature Request: "legends" for labels"
As a secondary CSV or similar, allow "names" for label numbers to improve visualization/labelling

[2015-11-10 15:49] gdevenyi opened #20 "Feature Request: Single window mode"
A la GIMP's recent feature, allow Display to dock all existing windows into a single window.

This is particularly helpful for users of sloppy mouse when a bunch of windows are open one can keep losing the Display windows since they don't raise and keep focus together.

[2015-11-11 17:26] gdevenyi opened #21 "Feature Request: Automatic slice progressing during segmenting"
From a segmenter in my group:

[2015-11-12 19:27] rdvincent commented on #20
I have a prototype of this I will try to make available for you to evaluate soon. The big question is how flexible the single-window version has to be in terms of screen layout.

[2015-11-12 19:28] rdvincent opened #22 "Multiple brush sizes"
Claude would like a quick way to toggle between two different brush sizes.

[2015-11-12 19:28] rdvincent commented on #17
I've looked over those colour maps, it is fairly easy to import them into Display.

[2015-11-12 19:29] rdvincent commented on #19
The MINC 2 format actually has the capability to assign symbolic names to voxel values. Perhaps we need to think about making this available in the Display UI.

[2015-11-12 19:31] gdevenyi opened #23 "Bug? Display on labels shows a value which is off from integer (earlier Display versions show right number)"
Files generated from minc-stuffs programs are showing values slightly off from the true label value in Display, loading up in earlier versions of Display solve the problem.

[2015-11-12 19:35] rdvincent commented on #23
Could be differences in precision of the loaded data. The newer Display versions try harder to keep the full precision of the data in memory, older versions tended to convert all volumes to byte voxels when loaded. In any case, I will try to handle the label volume specially to avoid this.

[2015-11-12 20:56] gdevenyi opened #24 "Display always defaults to saving labels as byte, causing problems for >255 labels"
This is an issue in mouse brain label files which label the whole brain.

[2015-11-13 15:02] rdvincent commented on #24
Looks like this is still a bug - I'll get it fixed asap.

[2015-11-13 15:15] gdevenyi commented on #20
Ideal flexibility would be like gimp's dockable toolbars, but I know Display is written in a world prior to flexible GUI interfaces.

For my use case, a single window of any kind would fix my major issue with the sloppy mouse.

[2015-11-13 17:11] rdvincent commented on #24
@gdevenyi Can you be more specific about exactly what you are trying to do when the problem occurs?

I think there are a few different issue with using, loading, and saving non-byte label volumes, but I want to make sure I catch them all.

[2015-11-13 17:39] rdvincent opened #25 "Make it possible to recover volume overlay after making a volume invisible."
There seem to be some combinations of commands after which one cannot get back to a situation in which volumes are superimposed on one another.

[2015-11-13 17:40] rdvincent opened #26 "Allow use of a volumetric mask (e.g. labeled region) to mask off a region of a surface."
From PRN - wants to be able to use a ROI defined on a volume to define a subset of a surface, and the vertex data of that surface.

[2015-11-13 17:43] rdvincent commented on #21
How is this better/different from using the keyboard '+' or '-' keys to switch slices (as is already possible in Display)? Does this really happen automatically after the drawing event, e.g after every "brush stroke"?

[2015-11-13 17:45] rdvincent commented on #14
You can assign a colour to a label while display is running (Colour Coding -> Paint Lbl Colour). You can also dynamically load a specific colour map (File -> Load Colour Map). What is the new functionality needed here?

[2015-11-13 18:14] gdevenyi commented on #24
For me, labels > 255 load and display fine, but upon saving are saved as byte, screwing up their use in certain programs afterwards.

[2015-11-13 18:15] gdevenyi commented on #14
They're probably not aware of this, will inform them. Thanks.

[2015-11-13 18:15] #14 closed

[2015-11-13 18:18] gdevenyi commented on #21
Question relayed to user.

[2015-11-13 19:24] gdevenyi commented on #21
Response:

[2015-11-13 19:25] rdvincent commented on #21
OK, that is quite simple to implement, but it obviously could not be the default.

[2015-11-13 19:31] gdevenyi commented on #21
Definitely, just a switch somewhere to turn it on for certain operations.

[2015-11-13 19:33] gdevenyi opened #27 "Bug? Can't adjust bottom colorbar level to coincide with top level (at the very top of the bar) if the top bar has been previously moved"
If I want to temporarily make a volume the same colour as the background, I drag the bottom colorbar threshold right to the top of the bar, however if I have previously moved the top threshold from its default position at the top of the bar, I can no longer make them overlap, so the volume won't switch to the background.

[2015-11-16 20:08] gdevenyi opened #28 "Display doesn't work over remote X over SSH for me."
Is this a Display bug? Or something else, suggestions to diagnose?

[2015-11-17 03:10] rdvincent commented on #28
Can you give me some details on the error messages or other issues?

It should work, but depending on the link it can be glacially slow.

[2015-11-17 14:33] gdevenyi commented on #28
[code]

Doesn't run at all.

Machine is a Ubuntu 14.04.3, with nvidia-355

[2015-11-18 19:34] gdevenyi opened #29 "Support <insert arbitrary compression> files (mnc and nifti)"
Right now opening a gzipped nifti file:
[code]

[2015-11-18 19:40] rdvincent commented on #29
This should work (I can load gzipped NIfTI-1 files), but it's probably possible to build with compression turned off.

[2015-11-18 19:48] gdevenyi commented on #29
Build is as-is from minc-toolkit-v2 (plus checkout all the develop branches)

Perhaps I'm missing a build -dev library..?

[2015-11-18 19:52] rdvincent commented on #29
Check for zlib*-dev?
What is the state of the USE_SYSTEM_ZLIB variable in CMake?

I just verified that my builds on Ubuntu 14.04 can read a gzipped .nii file, but obviously there can be a config issue somewhere...

[2015-11-18 19:57] gdevenyi commented on #29
I have ``USE_SYSTEM_ZLIB:BOOL=OFF`` which means minc-toolkit should be
building and installing it's own zlib right?

--
Gabriel A. Devenyi B.Eng. Ph.D.
Research Computing Associate
Computational Brain Anatomy Laboratory
Cerebral Imaging Center
Douglas Mental Health University Institute
McGill University
t: 514.761.6131x4781
e: gdevenyi@gmail.com

On Wed, Nov 18, 2015 at 2:52 PM, Robert D Vincent <

[2015-11-18 19:59] rdvincent commented on #29
Yes, that's what it supposed to happen. I always use the system zlib, however. I'll try to verify this. I also generally still use "minc-toolkit", not "minc-toolkit-v2" when I build, so I'm somewhat behind the times, build-system-wise.

[2015-11-23 16:20] gdevenyi opened #30 "nifti files not loaded properly if specified as -label"
[code]

[2015-11-23 16:23] rdvincent commented on #30
Yes, the label code is more MINC-specific than the general volume loading code. Will fix.

[2015-11-23 16:27] rdvincent commented on #28
As far as I have been able to learn, remote OpenGL over SSH is often dicey. I'll try to investigate whether we can do anything to improve this.

[2015-11-27 15:22] gdevenyi commented on #28
I have installed and configured virtualgl (http://virtualgl.org/) at the recommendation of Jason Lerch, it works very well with Display. This doesn't resolve the issue that it should "just work" otherwise (I think). But my immediate need is now fixed.

Suggest you take a look at it for remote OpenGL in general, its pretty nice.

[2015-11-27 15:32] gdevenyi opened #31 "Feature request: Method to save current configuration as Display.globals"
It would be nice if I could configure the display defaults using the menu system and then dump that config to a file, so it will be reloaded on start.

Similar to the window config currently offered.

[2015-11-30 21:46] gdevenyi opened #32 "Default label opacity of 0.7 is too high"
Used to be 0.4?

[2015-11-30 21:52] rdvincent commented on #32
It hasn't changed in a long time...

[2015-11-30 22:00] gdevenyi commented on #32
Ah, well the Display.globals that used to installed with it changed that to 0.4

[2015-11-30 22:00] gdevenyi opened #33 "Confirmation to overwrite a file (such as labels) doesn't have a popup"
Instead, I got prompted on the old command-line interface.

[2015-11-30 22:05] rdvincent commented on #33
I have a fix for this - I am not sure if it is checked in yet. Will follow up soonish.

[2015-11-30 22:10] gdevenyi commented on #31
Connected to #32

[2015-11-30 22:14] gdevenyi commented on #29
Calling @vfonov any thoughts?

[2015-11-30 23:13] vfonov commented on #29
I will have to check how ZLIB presence is detected...

[2015-11-30 23:20] rdvincent commented on #29
You probably just need to copy the appropriate line from minc-toolkit's
CMakeLists.txt. If HAVE_ZLIB is not defined, the NIfTI code will not
compile with ZLIB.
On Nov 30, 2015 6:13 PM, "Vladimir S. FONOV" <notifications@github.com>
wrote:

[2015-11-30 23:27] vfonov commented on #29
ok, try this : https://github.com/BIC-MNI/minc-toolkit-v2/commit/7b139886dbb89acb85be3793f6b0efdc637bad93

[2015-12-01 16:05] gdevenyi commented on #29
@vfonov That fixed it, thanks!.

I'll leave this open as a longer-term feature request for other compression formats.

[2015-12-02 03:34] rdvincent commented on #33
Yup, hadn't committed yet. It is here: 4ca6f60ffa2da5d8a84647ff75d75ac1b889326c

[2015-12-02 19:02] gdevenyi commented on #33
Another bug bites the dust :)

[2015-12-02 19:02] #33 closed

[2015-12-02 22:38] ajwood opened #34 "Can not save with -output-label multiple times"
The path specified with the -output-label option is used only the first time labels are saved. If you keep painting and save again, the output goes somewhere else.

There seems to be some relationship with the output path and where the mouse has hovered over the virtual keyboard. To reproduce:

    $ Display myvol.mnc -output-label /tmp/mask.mnc
      # save labels (File -> Save Labels)
    Label

[2015-12-03 05:43] rdvincent commented on #34
Just pushed a fix to the develop branch: 5a876ceaa53e2d4526524c90fbed5b172178e0b7

[2015-12-03 16:21] ajwood commented on #34
Very nice! Do you think there'd be any sense in adding a "clobber y/n to continue" prompt if the output file already exists?

[2015-12-08 16:07] gdevenyi opened #36 "File dialog popups don't display on current workspace (or on the workspace where Display windows reside)"
If I open Display in a workspace with a terminal open, then drag all the windows to another workspace, and spawn a dialog for opening/saving a file, the dialog opens on the original workspace rather than where all the display windows are (or where I am)

[2015-12-08 17:56] gdevenyi opened #37 "Allow Display to view single-slice 2D nifti files"
If I try to load a 2D nifti file (a single brain slice), I get:
[code]

Example files here https://github.com/ntustison/antsRegistrationWithMaskExample

[2015-12-08 21:40] rdvincent commented on #36
@gdevenyi This should now be fixed.

[2015-12-08 21:43] rdvincent opened #38 "Setting the origin in the "3D View" menu did not update the slice cursor"
Entering a specific x,y,z position in world coordinates updated the 3D cursor position but not the slice window position. Fixed in 2997f9216be055ecfaf59a302cb21930ab37e2f8

[2015-12-08 21:43] rdvincent commented on #38
Reported by Claude.

[2015-12-08 21:43] #38 closed

[2015-12-08 22:26] gdevenyi commented on #36
Amazing. Thanks.

[2015-12-08 22:26] #36 closed

[2015-12-09 20:10] gdevenyi commented on #12
I see this is working now, awesome.

[2015-12-09 20:10] #12 closed

[2015-12-09 20:10] gdevenyi opened #39 "Feature Request: Control of colourbar for vertex-wise surface data"
It would be helpful to be able to choose the colourbar, as well as adjust the over/under colours and the cutoff values (for FDR) cutoff. For the surface data.

[2015-12-09 20:13] gdevenyi opened #40 "Feature Request: Loading of CSV and/or tabular vertex-wise data"
We often dump out a RMINC (or mni.vertex.statistics) data file consisting of t-values in columns for a number of predictors. In brain-view2, I can load the file and select which column to display on the surface. A similar feature in Display would be the nail in the coffin of brain-view2

[2015-12-10 11:42] rdvincent commented on #40
@gdevenyi Simple enough to add. Can you provide some sample data?

[2015-12-10 14:32] gdevenyi commented on #40
See email for

A mouse cortex surface model, and an output file from the R package mni.cortical.statistics

Other than the weird header (which I think is for brain-view) it's just a multi-column file with the number of columns the same as the number of vertices.

Ideally, the multi column support would handle this kind of file, as well as outputs from RMINC (which are identical except for the lack

[2015-12-10 15:58] gdevenyi opened #41 "Bug: Scaling of Colorbar for very small float values is broken"
I have a file with values in the range 0 - 1.17e-7 and the colorbar doesn't seem to be properly scaled along the values, It's all stuck in the deep purple.
![screenshot from 2015-12-10 10 58 06](https://cloud.githubusercontent.com/assets/3001850/11720368/e9137eb8-9f2c-11e5-9006-7244ede1d3a0.png)

[2015-12-10 17:07] rdvincent commented on #41
Has this worked better in previous versions of Display?

[2015-12-10 17:23] gdevenyi commented on #41
1.0.04 looks has the same failings.

[2015-12-14 15:14] gdevenyi opened #42 "BUG: Display file dialogs don't open in "working directory""
Example:
[code]

Looks like somewhere the working directory path is getting truncated, as with further testing, the dialog always opens one directory above the proper location.

[2015-12-15 04:32] rdvincent commented on #40
@gdevenyi When you have a few minutes, take a look at the branch "rdv-vertex-data". This is a rough draft of the "real" vertex data support. I have been mostly testing it with the example file you sent, which had 21 columns for 9002 vertices, I believe. Here's what this version can do:

1. For any selected surface, you can load a "vertex data" file from the File menu. The vertex data can be multi-

[2015-12-15 15:28] rdvincent commented on #39
@gdevenyi See the rdv-vertex-data branch, c2f8eac6d6e5b33957f2c91d6136c274170a7468

[2015-12-15 16:00] gdevenyi commented on #40
The is great @rdvincent, it works exactly as expected. You have slain brain-view2, hurrah.

I tested the multi-object and it works pretty well, I had some bugs with the colourbar, which I'll discuss in #39

[2015-12-15 16:03] gdevenyi commented on #39
Colourbar mostly works as expected, a few small bugs:
- clicking on the colourbar when there's an object underneath selects the object rather than interacting with the colourbar

Multi-object colourbar is a bit rough, some thoughts on how to handle it
1) Add multiple colourbars in some grid (probably could get messy fast)
2) Switch colourbars on clicking different objects
3) Switch colourbars on m

[2015-12-15 16:04] gdevenyi commented on #40
Feature ideas for vertex-wise data:
1) Expose header names rather than "Column 1"
2) Provide an interface (similar to the object list) to graphically select column

[2015-12-15 16:17] rdvincent commented on #39
My plan was to implement option 2.

[2015-12-15 16:21] rdvincent commented on #40
Do you think it's worth copying the shift+click commands over to the slice view window?

[2015-12-15 16:23] gdevenyi commented on #40
Absolutely, as a relatively newer user to Display, navigating the menus is a continual hide-and-seek to find what I want. Exposing things right on the views would help a lot.

[2015-12-15 16:25] gdevenyi commented on #41
Fixed!

[2015-12-15 16:25] #41 closed

[2015-12-15 16:26] gdevenyi commented on #42
Fixed!

[2015-12-15 16:26] #42 closed

[2015-12-15 16:32] gdevenyi commented on #19
Is this exposed in any command-line programs?

[2015-12-15 16:33] gdevenyi commented on #22
Fixed by fe4a6f1b79a8d8c39753b78d1db7dc2bdec964cd?

[2015-12-15 16:34] gdevenyi commented on #24
Anything I can test on this front?

[2015-12-15 16:34] rdvincent commented on #22
Yes, forgot to reference it in the commit.

[2015-12-15 16:35] rdvincent commented on #19
Not really. It's one of those features we added but didn't really exploit. Might need to revive it.

[2015-12-15 16:40] rdvincent commented on #24
Another commit comment failure on my part - I think this was fixed, or at least improved, in 36a24be397b60a4682a9a6a80b0cfa3e0286d7a2

[2015-12-15 16:48] gdevenyi commented on #24
Will test

[2015-12-15 16:58] gdevenyi commented on #24
No longer mangles my larger than byte label files :)

[2015-12-15 16:58] #24 closed

[2015-12-15 18:32] rdvincent commented on #37
@gdevenyi I just pushed a fix for this in libminc. Essentially we have to lie to Display and treat 2D files as 3D files with a singleton dimension. In the longer run it might be nice to convince Display to work with actual 1D or 2D files, but that would probably require major surgery.

[2015-12-15 19:00] gdevenyi commented on #37
What you did sounds like a fine fix for now.

Tested with Display and register, works fine.

[2015-12-15 19:00] #37 closed

[2015-12-15 21:40] gdevenyi commented on #19
It would be very helpful for us, as we publish label files and having the names embedded in the minc would be really helpful.

[2015-12-15 21:41] gdevenyi opened #43 "Feature Request: "Animated" rotation of objects"
I'd like to be able to rotate and release the object files and have them continue to rotate (for example to screen capture to generate a movie)

[2015-12-15 21:51] rdvincent commented on #43
There's the very primitive film loop process that's already built in. It is crying out to be updated.

[2015-12-16 14:51] rdvincent commented on #39
@gdevenyi I have implemented option 2 on the rdv-vertex-data branch. It should switch the colour bar when you click on different objects - it disappears if the object does not have vertex data associated with it.

[2016-01-21 19:47] rdvincent commented on #43
The F12 key will now start/stop animation. You can affect which axis it spins on by holding the mouse over the appropriate slice view (e.g. holding the mouse over the sagittal slice will make the 3D object spin  along the horizontal axis). As of now it is fixed-speed, about 0.2 revolutions/second. Let me know if you need some kind of control over the angular velocity.

[2016-01-26 18:13] gdevenyi commented on #43
Awesome, need to find someone who wants to show data in a cool way to test this out.

[2016-02-04 18:35] gdevenyi commented on #40
Implemented and works, will split out other issues.

[2016-02-04 18:35] #40 closed

[2016-02-04 18:36] gdevenyi opened #45 "Feature Request: provide window with list of vertex column data"
Similar to object list, allow a list of vertex data so we can graphically choose columns.

If column titles are available, use them.

[2016-02-04 18:38] gdevenyi commented on #39
This works great. Considered fixed in develop.

[2016-02-04 18:38] #39 closed

[2016-02-04 18:39] gdevenyi commented on #43
This works great, except that if I don't have a minc file associated with an object, I can't choose a rotation direction.

Any thoughts on how we might do that?

[2016-02-04 18:42] gdevenyi commented on #23
Followup here, byte labels seem to work as expected now however integer labels still have some issue with not-integer values.

[2016-02-04 18:46] gdevenyi commented on #16
Now that vertex-wise data is available on surfaces, and I see I can choose one of the default colour maps, it would be nice if I could load arbitrary ones as well.

[2016-02-04 18:47] gdevenyi commented on #17
Followup: http://dx.doi.org/10.1109/MCG.2007.323435

[2016-02-04 18:49] gdevenyi commented on #11
Looks like this would line up nicely on top of 033199ff5188c5f91522da0d7e571fa931fee3cd just need a popup and profile of the intensity along the line.

[2016-02-05 12:12] rdvincent commented on #45
I'll consider adding it to the object list window. I'm not going to create _more_ windows in Display any time soon!!

[2016-02-05 12:13] rdvincent commented on #43
Good point, will think about it.

[2016-02-05 12:15] rdvincent commented on #16
Sure. For now it will probably use the same colour map as the custom voxel data map.

[2016-02-05 12:17] rdvincent commented on #11
Yes, you discovered my cunning plan. It more-or-less works, I'll push a prototype for you to try soon. Rather than creating a new window, I just use the bottom-right slice view if it is vacant (e.g. no oblique plane active). Let me know if that won't work for you for some reason.

[2016-02-05 14:39] rdvincent commented on #23
thanks for the update. I'll see if I can reproduce it, if not I'll ask you for a test case.

[2016-02-05 14:45] gdevenyi commented on #11
That is a-ok for me.

[2016-02-05 14:45] gdevenyi commented on #16
That would work fine for me.

[2016-02-05 14:46] gdevenyi commented on #45
Good point, although #20 would mostly fix that.

[2016-02-05 14:47] gdevenyi commented on #29
This should probably go elsewhere now. My original problem is fixed. Closing

[2016-02-05 14:47] #29 closed

[2016-02-05 14:59] gdevenyi opened #46 "Feature Idea: Multiple vertex files per object *or* two-range colourmaps"
A common use case for displaying vertex t-statistic data is to look at both the positive and negative effects, and exclude the middle around -FDR5% -> 0 -> +FDR5%

There are two ways to achieve this that I've seen
1. Load the same vertex data twice, use a "hot" colourbar and set the threshold from +FDR5% to MAX, and a separate "cold" colour bar from -FDR5% to MIN. (display both sets of data on the

[2016-02-05 15:47] gdevenyi commented on #43
Idea: provide some kind of a little compass icon in a corner of the object window with a click/dragable "joystick". Allows for both direction and magnitude of rotation control.

[2016-02-05 15:49] gdevenyi commented on #43
Other idea, "flingable" objects. If rotation mode is toggled on, middle-click and release will continue rotation about that direction.

[2016-02-05 15:53] gdevenyi opened #47 "Feature idea: alternative object drawing modes"
brain-view2 offered the following draw modes for objects
- solid (default)
- wireframe
- wireframe overlay (useful)
- points
- hidden line
- bounding box

Wireframe overlay is useful for examining the underlying object structure

[2016-02-05 16:00] rdvincent commented on #47
I'm not sure if it's the same, but Display does have a sort of wireframe mode ("3D Render" -> "Mode: Shaded" vs. "Mode: Wireframe"). Does that help?

[2016-02-05 16:09] gdevenyi commented on #47
Ah yes, that's very close, that checks off "wireframe" on the list above.

The really great feature about "wireframe overlay" is that the wireframe is shown on top of the shaded model in a different colour. See attached.
![screenshot from 2016-02-05 11 08 33](https://cloud.githubusercontent.com/assets/3001850/12851629/eda0b20e-cbf8-11e5-9fcd-51f60e2da869.png)

[2016-02-05 16:13] gdevenyi opened #48 "Feature idea: crosshair centering and/or locking crosshair for 3D render"
When an object is first loaded the crosshair is located at the center/geometric center(?). Which makes rotation and navigation fairly easy.

As soon as the first left-click happens, now the crosshair follows the surface of the object which means I can never get it back to that point of rotation.

It would be helpful to have a lock and/or re-center crosshair button/keycombo.

[2016-02-05 16:18] gdevenyi commented on #13
Alternative keystroke on some systems is Ctrl-Y

[2016-02-05 16:20] gdevenyi commented on #30
Any progress on this? I think this is the last step to making Display mostly file-agnostic. Except for maybe saving nifti labels?

[2016-02-05 16:22] gdevenyi commented on #28
Followup on the weirdness here, remote Display from windows and OSX machines actually does work. It looks like on my local systems X-forwarding from linux to linux is what's messed up.

Therefore this isn't Display's fault. Closing.

[2016-02-05 16:22] #28 closed

[2016-02-15 18:25] ajwood opened #49 "RGB images"
Display used to be able to open RGB volumes, if the fastest-varying vector_dimension contains RGB triples (on the range 0-1), but this doesn't seem to work with the latest version.

Is there any change that this feature could come back? Or alternatively, is there a different way to open RGB volumes in Display?

[2016-02-15 18:55] rdvincent commented on #49
It wasn't taken out on purpose - I'll figure out what happened and fix it.

[2016-02-16 18:16] rdvincent commented on #49
@ajwood Should be fixed if you check out the latest libminc and bicpl. I also make a minor change to Display that formats the RGB value of the current voxel.

[2016-02-16 18:33] ajwood commented on #49
@rdvincent Something's still not quite right. Here's the volume sampling:

        dimension name         length         step        start
        --------------         ------         ----        -----
        yspace                      1          0.1         -4.3
        zspace                   1697     -0.00286       10.351
        xspace                   2477      0.00286        2.717

[2016-02-16 18:39] ajwood commented on #49
Looks great! I'm wondering, do you think it'd be tricky to get trilinear or tricubic interpolation working?

[2016-02-16 19:35] rdvincent commented on #49
@ajwood I assume you mean trilinear/tricubic with RGB. It's probably not that tricky. How useful would it actually be?

[2016-02-16 19:44] ajwood commented on #49
@rdvincent Right; I mean trilinear/tricubic interpolation for RGB slices (from the menu: volume config (Q) -> interp (S)). Currently it shows the interpolant changing, but doesn't actually affect the display.

Do you think it'd be less useful for RGB than it is for intensity images?

[2016-02-16 19:46] rdvincent commented on #49
@ajwood I don't really have an opinion - I'm just trying to get a general sense of the priority.

[2016-02-16 20:14] ajwood commented on #49
@rdvincent My main uses are this:

[Digital microscopy](https://en.wikipedia.org/wiki/Luxol_fast_blue_stain#/media/File:Coronal_section_of_a_mouse_brain_stained_with_Hematoxylin_%26_LFB.jpg): Interpolation mainly useful for zooming and collecting snapshots.

[DTI colour maps](https://en.wikipedia.org/wiki/Diffusion_MRI#/media/File:Illus_dti.gif): Interpolation helpful when the maps are noisy.

I a

[2016-02-16 20:21] rdvincent commented on #49
@ajwood I'll look into it in any case. Do you have any appropriate images available that I can use for testing.

[2016-02-16 20:44] ajwood commented on #49
Sure, here's a [dti map](https://drive.google.com/open?id=0BzcZlhs8X1gFWE9kQmE0clEzS0E).

[2016-02-20 22:03] gdevenyi commented on #49
I have a related request in #15 to be able to do additive RGB with multiple volumes, but in that case I'm hoping for independent adjustment of the colourmaps for each volume.

In general the idea here is to experiment with "hybrid contrast" for our segmenters, in the hopes of improving tissue differentiation.

[2016-03-23 21:08] gdevenyi opened #50 "BUG? Vertex colourbar gets "stuck" sometimes"
When manipulating the vertex-wise data colourbar, sometimes I find that it gets stuck, and I can no longer adjust the bounds.

A little hard to reproduce unfortunately, as I'm not sure what the exact conditions are to cause it.

[2016-03-23 21:46] rdvincent commented on #50
Anything's possible. I'll see if I can reproduce it. Next time it happens, check if there any messages on the console (terminal) window?

[2016-04-19 15:39] rdvincent commented on #47
@gdevenyi Check out the latest bicgl (rdv-new-opengl branch) and Display (develop branch). I extended the "3D Render / Mode:" command to include point and wireframe overlay mode. Let me know if this is useful.

[2016-04-27 15:03] gdevenyi commented on #47
Looks nice? Thanks @rdvincent , is there a reason for the different lines being drawn in different dash types? That causes some anti-aliasing issues at low magnification

[2016-04-27 15:08] rdvincent commented on #47
The dashes are actually something of a mystery. Probably an artefact of the rendering process somewhere deep in OpenGL. I am still playing with this so perhaps I'll find a way to prevent it.

[2016-04-27 15:11] gdevenyi commented on #47
Alright, doesn't matter, my main use of this is to isolate specified vertices, and this works perfectly.

[2016-04-28 17:55] gdevenyi commented on #47
Completely fixed in develop, thanks @rdvincent !

[2016-04-28 17:55] #47 closed, assigned to rdvincent

[2016-04-28 17:56] gdevenyi commented on #16
Fixed in develop

[2016-04-28 17:56] #16 closed

[2016-04-28 17:56] gdevenyi commented on #11
Implemented in develop

[2016-04-28 17:56] #11 closed

[2016-04-29 17:42] gdevenyi opened #51 "Feature Request: Display surfaces in volume space without loading a volume"
If I load surfaces right now without an accompanying volume, I don't get a "volume" view, so I can't compare surfaces easily.

[2016-05-02 14:32] gdevenyi opened #52 "BUG: Clipping of objects during some rotation operations"
I'm guessing the camera position for the OpenGL rendering is too close to the object location, some rotation operations clip into the object.

This is on the latest Display + bicpl special branch.

[2016-05-02 16:17] gdevenyi opened #53 "Annoyance: Display is quite slow with high-res CIVET2 surfaces"
Viewing CIVET2 surfaces is much slower than I expect my videocard to be able to perform.

[2016-05-02 16:36] gdevenyi commented on #53
Nevermind, something else was going on.

[2016-05-02 16:36] #53 closed, assigned to nobody

[2016-05-02 16:43] gdevenyi opened #54 "BUG: Spamming of console after using surface segmentation"
After pressing the surface label visible key (X -> F), any further movement of the mouse spams the console with:

[code]

[2016-05-02 18:37] gdevenyi opened #55 "FEATURE Request: implement vertstats file format for vertex statistics"
To support header labels and such,

Full details here https://github.com/BIC-MNI/oobicpl/tree/master/docs

[2016-05-02 19:31] rdvincent commented on #54
Yes, sorry, the new graphics library still has some debug code in it. Will fix.

[2016-05-02 19:31] rdvincent commented on #52
I've noticed this too, will investigate.

[2016-05-02 19:31] gdevenyi commented on #54
No problem! Just reporting in case :+1:

[2016-05-02 19:32] rdvincent commented on #55
Will look into it. What tool actually produces these files today?

[2016-05-02 20:06] gdevenyi commented on #55
The vertstats_\* tools in oobicpl. Probably surfstat (the matlab stats tool for CIVET stuff)

Soon to be RMINC https://github.com/Mouse-Imaging-Centre/RMINC/issues/69

mni.vertex.statistics (it's the default output format)

[2016-05-02 20:17] rdvincent commented on #51
So you would like Display to create a "blank" slice view window that just shows the outlines of the surfaces for each axis? This could be addressed by creating a dummy placeholder volume with coordinates that matched the extents of the loaded surfaces.

[2016-05-03 14:10] gdevenyi commented on #51
Yes, I'd like a slice view of the objects if a volume isn't available.

[2016-05-03 14:19] rdvincent commented on #54
@gdevenyi Latest bicgl should fix this (rdv-new-opengl branch - I hope to merge this into bicgl/develop this week).

[2016-05-03 16:44] gdevenyi commented on #54
Indeed fixed, thanks!

[2016-05-03 16:44] #54 closed, assigned to rdvincent

[2016-05-04 13:38] gdevenyi opened #56 "Feature Request: Display world coordinates of crosshair next to voxel coordinates"
Right now, if I want world coordinates, I have to keep my mouse in a single position and read them off, it would be really helpful if the world coordinates of the crosshairs (which are fixed unless I click) were displayed alongside the voxel coordinates under the slice views.

[2016-05-04 13:43] rdvincent commented on #56
I agree. They are in displayed in the menu window, but that isn't terribly intuitive or useful.

[2016-05-04 13:44] gdevenyi commented on #56
Just had a collaborator have some unexpected issues with coordinate confusion, probably due to this.

[2016-05-05 20:08] rdvincent commented on #30
@gdevenyi Have you ever tried this? I think this problem is now resolved - I can load MGH/FreeSurfer and NIfTI files as labels with the current develop branch.

[2016-05-05 20:17] ptcougopinto opened #57 "ROIs always saved in x,y,z dimorder"
ROIs are always saved as x,y,z, not in the original image dimorder.

[2016-05-05 20:22] rdvincent commented on #57
Thanks - which ROI's do you mean? Can you give a specific example?

[2016-05-05 20:23] gdevenyi commented on #30
Works now! Thanks!

[2016-05-05 20:23] #30 closed

[2016-05-05 20:26] rdvincent commented on #56
@gdevenyi Just checked this in. Let me know if it looks ok.

[2016-05-05 20:28] ptcougopinto commented on #57
I mean manually drawn ROIs. I just tried as an example drawing on the ICBM152 T1, which is zyx-ordered, and the saved label is xyz-ordered (which leads to the need to reshape the ROI for masking etc).

[2016-05-05 20:30] gdevenyi commented on #56
Glorious! Looks great!

[2016-05-05 20:30] #56 closed, assigned to rdvincent

[2016-05-05 20:31] rdvincent commented on #57
Thanks for the clarification.

[2016-05-06 13:37] gdevenyi opened #58 "Feature Request: Ability to hide/show individual labels"
A request this morning from a segmenter, the ability to selectively show/hide a given label.

[2016-05-06 17:15] gdevenyi opened #59 "Feature Request: show label colour as background for intensity profile"
My segmenters are finding the new intensity profile tools to be very helpful, however they are having trouble transferring the intensity into to/from the scan/profile.

If the profile could have a coloured background of the underlying label file, that would allow precise placement of segmentations.

Ideally, one would be able to draw a line and then segment, and the background of the profile would

[2016-05-07 11:21] rdvincent commented on #57
@ptcougopinto Should be fixed now.

[2016-05-07 11:38] rdvincent commented on #58
@gdevenyi I've been asked for this before. There is a (admittedly imperfect) way of doing this now, by going to the "Colour Coding" menu and changing the "Paint Lbl Colour" to transparent. But this requires the user to set the colour back to normal manually. I'll implement something that makes this process easier.

[2016-05-07 12:07] rdvincent commented on #31
@gdevenyi Done.

[2016-05-08 21:09] gdevenyi commented on #31
Thanks.

I expected based on older notes that a Display.globals in $HOME would be loaded, but that doesn't seem to be the case? Did the location of the location move? (I'd prefer something lik ~/config/minc anyways...

[2016-05-09 00:53] rdvincent commented on #31
Display.globals is generally either in $HOME or in the directory of the executable. Either one should work. The save feature I implemented just saves to an arbitrary file - it's up to the user to put in the the standard place. If that proves unwieldy or confusing, I can force it to save in the "official" place under the standard name only.

[2016-05-09 19:58] gdevenyi commented on #31
Okay, so I made some changes and saved the globals to $HOME/Display.globals

Upon running again, I don't get those values back.

[2016-05-09 20:02] gdevenyi commented on #32
Fixed by adding saving/loading and adjusting the default lower.

[2016-05-09 20:02] #32 closed

[2016-05-10 04:07] rdvincent commented on #31
OK. Depending on the values you set, this could be "correct" behavior. Unfortunately, _many_ of the globals are used to set initial values of other parameters. Changing the parameters within Display does not imply changing the globals. If you have specific variables you want to be able to save, let me know what they are and I'll check it out.

[2016-05-10 13:13] gdevenyi commented on #31
Okay, so, this originally triggered by #32

So I change the opacity to 0.4, save globals, and find that my globals file still has the (new) default of 0.5 saved. - I guess this is a bug

Similarly, I change the colour map to grey, I was hoping that the map would be saved in globals. - This may be because it's not saved at all

[2016-05-10 18:51] rdvincent commented on #51
@gdevenyi Do you care about what the background is? Should it be black, the lovely background colour, grey, etc.? Here's what I have right now with a black background, because the empty volume effectively has a uniform value of zero:
![image](https://cloud.githubusercontent.com/assets/1395526/15158578/9453defe-16be-11e6-9d00-b88858cc9bfc.png)

[2016-05-10 18:53] gdevenyi commented on #51
The current colour is fine except if someone decides to segment in teal... perhaps it should be linked to the background colour of the volume?

[2016-05-10 18:57] rdvincent commented on #51
@gdevenyi Well, in this case I'm just looking for a preference for the default slice background (currently black, above) against which the surfaces will be displayed.

[2016-05-10 19:05] gdevenyi commented on #51
oh, sorry, I misinterpreted, yes, black is fine.

[2016-05-10 20:06] rdvincent commented on #51
@gdevenyi OK this is checked in.

[2016-05-11 15:59] gdevenyi commented on #51
Looks great, thanks!

[2016-05-11 15:59] #51 closed, assigned to rdvincent

[2016-05-12 16:30] rdvincent commented on #59
@gdevenyi Take a look at this and tell me if this look like what you have in mind:
![image](https://cloud.githubusercontent.com/assets/1395526/15222355/419f01b8-183d-11e6-9928-9138a25c3d12.png)

[2016-05-12 17:00] gdevenyi commented on #59
Yes, that is exactly what I'm looking for!

Would that background update if I add/delete segmentations?

[2016-05-12 17:04] rdvincent commented on #59
It doesn't as of now, but it is a work in progress... It will take some more work to get live updating to happen.

[2016-05-12 18:28] rdvincent commented on #55
@gdevenyi Any chance you have some examples lying around?

[2016-05-12 18:31] gdevenyi commented on #55
https://dl.dropboxusercontent.com/u/307000/Results_lme_left_surfaces_sfn_1.vertstats.gz

[2016-05-12 18:32] gdevenyi commented on #55
For a CIVET/1.1.12 left brain

[2016-05-12 18:32] gdevenyi commented on #55
(needs gunzipping)

[2016-05-12 18:41] rdvincent commented on #55
@gdevenyi Thanks. Somewhat surprisingly, the code will read this vertstats file "as is", although we ignore the header. I'll work towards formally reading the headers and integrating them into the UI.

[2016-05-12 20:38] rdvincent commented on #55
@gdevenyi It's not anything amazing, but I added the ability to display the column nanes from vertstats files (they show up in the 3D view window status line).

[2016-05-13 14:43] gdevenyi commented on #55
It works! Mostly... Parsing is a bit messed up on this header, it's separating bits that should be grouped:

[code]

A few rounds of CTRL-V cycling through it:

[code]

Looks like perhaps whatever separator it finds counts as a column, i.e. it's mixing separators.

[2016-05-13 14:48] rdvincent commented on #55
Can you send me the file? Probably has quotes around the elements in the header. Will fix asap.

[2016-05-13 14:53] gdevenyi commented on #55
Indeed it does (see above)

Here's the file https://dl.dropboxusercontent.com/u/307000/CT-quad-left.txt.gz

[2016-05-13 16:00] rdvincent commented on #55
@gdevenyi OK, checked in some code to handle that. It works with my existing examples.

[2016-05-13 17:47] gdevenyi commented on #55
Works! Hurrah.

You have slain brain-view2. Thanks so much, one less tool to support :)

[2016-05-13 17:47] #55 closed, assigned to rdvincent

[2016-05-16 17:57] gdevenyi opened #60 "Feature Request: breakout "Objects -> Change Surface Properties""
Right now, "Change Surface Properties" requires 4 inputs, 3 of which most users won't know the defaults for.

Generally we're looking to change the opacity. It would be helpful if those properties were broken out into separate keys.

[2016-05-16 17:59] rdvincent commented on #60
Control-scrollwheel will let you change the opacity quickly.
On May 16, 2016 1:57 PM, "Gabriel A. Devenyi" notifications@github.com
wrote:

Right now, "Change Surface Properties" requires 4 inputs, 3 of which most
users won't know the defaults for.

Generally we're looking to change the opacity. It would be helpful if those
properties were broken out into separate keys.

—
You are receiving this b

[2016-06-08 16:22] rdvincent commented on #59
@gdevenyi Finally got around to finishing this and checking it in. Please give it a try when you have a chance.

[2016-06-08 17:55] gdevenyi commented on #59
Fantastic! This is exactly how I envisioned this! The segmenters have been informed, if I get any feedback on glitches I'll let you know.

[2016-06-08 17:57] gdevenyi opened #61 "Brush radius/connectivity control"
Right now, the brush radius for segmenting is a bit odd. I'm not sure what units it's in, I would expect a "1" to be a single voxel but it isn't, I need to go below 1.

Similarly, it would be nice to control the "connectivity" of the brush to allow for (including)/(not including) diagonals.

[2016-06-08 19:04] rdvincent commented on #61
@gdevenyi The radius is approximately in millimetres, so the default size is huge when dealing with a mouse brain.

Not sure exactly how the connectivity control would look. Can you elaborate?

[2016-06-08 19:07] gdevenyi commented on #61
Re: units, I wonder whether voxel is more appropriate.

As for connectivity, I envision a control similar to mincmorph:

[2016-06-13 21:21] rdvincent commented on #49
@ajwood I recently added trilinear interpolation for RGB. Tricubic is harder because of implementation details in the volume_io library.

[2016-06-29 21:06] rdvincent commented on #57
@ptcougopinto I have new binaries that should fix this; let me know if you need them.

[2016-07-08 18:42] rdvincent commented on #18
@gdevenyi Finally implemented a version of this on a new branch, check it out and let me know if it works for you.

[2016-07-11 16:14] gdevenyi commented on #18
If I understand correctly, this isn't exposed in the UI, I need to set a config file value?

[2016-07-13 02:13] rdvincent commented on #18
As of now, yes. Initial_label_colour_table is the global name, set it to 2 to get the new colour table (zero gives the original label colours, 1 selects a colour table used in other BIC tools).

[2016-07-14 23:29] gdevenyi commented on #59
Fixed!

[2016-07-14 23:29] #59 closed, assigned to rdvincent

[2016-08-10 14:42] ajwood commented on #49
I just noticed that the segmentation painting threshold doesn't work for RGB data.  Would there be an easy fix for this?  e.g. threshold on the mean intensity

[2016-08-11 20:08] gdevenyi opened #62 "label rendering bug in Display git"
![f4c7c536-5f14-11e6-9e56-aff452b07cb7](https://cloud.githubusercontent.com/assets/3001850/17603105/9c1801a2-5fdd-11e6-8970-8e737c21573c.png)

Weird checkerboard rendering effect on label 1. Not present in 1.9.11

[2016-08-12 00:53] rdvincent commented on #62
@gdevenyi Interesting - I might need the files you are using to reproduce this. Is that possible?

[2016-08-12 13:21] gdevenyi commented on #62
Yeah, I can supply.

[2016-08-22 18:39] lblewis opened #63 "Freesurfer surfaces not in proper coordinate space"
Hello,

It is great that Display now reads FS surfs, however they appear to be in the wrong space. Compare the following commands that use the same files:

tkmedit mni_icbm_00660 T1.mgz lh.pial

![fs](https://cloud.githubusercontent.com/assets/2421468/17866798/ef18f2da-6875-11e6-8d71-4af24a7d943b.png)

Display mni_icbm_00660/mri/T1.mgz mni_icbm_00660/surf/lh.pial

![display](https://cloud.githubus

[2016-08-23 01:03] rdvincent commented on #63
@lblewis Yes, this is because FS uses a different origin for the surface. I plan to update Display to properly handle this - I'll try to get it in the next release. Any example volume/surface pairs you have would be welcome.

[2016-08-30 14:19] lblewis opened #64 "Default color-coding of text for polygons"
Hi,

It is very nice that when I manually set the color of an .obj, the text of the Polygons turns to the selected color (as in 4,5,6 in the included example).

Could the same thing be applied to the .obj polygon text for the _default_ colors (as in 1,2,3 in the included example, for which the surfaces are also green, blue, red by default, but not the text)?

![display_obj_colors](https://cloud.gi

[2016-08-31 20:01] gdevenyi opened #65 "Display develop HEAD reports wrong value for voxel under cursor"
I'm writing some code using nibabel to lookup voxel values from minc files, so I was using Display to look at the value under the cursor to compare (since I know both the world and voxel coodinates thanks to recent Display improvements).

I found consistent difference between my nibabel output and Display. After much testing, I have confirmed it's not my nibabel code as register reports the correc

[2016-08-31 20:06] rdvincent commented on #65
ok, is there anything unusual about that file (e.g. what is the voxel type)? Also, do you know if you have Convert_volumes_to_byte set to FALSE?

[2016-08-31 20:23] gdevenyi commented on #65
The mincheader of the file:

[code]

and mincinfo:

[code]

I don't have a Display.globals anywhere where the manual says it could be, so I have whatever the code default is for that setting (I think).

Can I check somehow?

[2016-08-31 20:26] rdvincent commented on #65
The default value for that variable is unfortunately still TRUE. Try running Display with

[code]

[2016-08-31 20:40] gdevenyi commented on #65
That fixes it.

[2016-08-31 20:53] gdevenyi commented on #65
So, I guess I can switch that in a ~/.mni-displayrc for myself.

Maybe that default should make it into the codebase?

[2016-09-01 12:52] rdvincent commented on #65
@gdevenyi I had been planning to make it the default. Will do that today.

[2016-09-01 15:43] zijdenbos commented on #65
Out of curiosity - since register reported the correct value, I assume this
means that it does not convert_volumes_to_byte anymore, either?

On Thu, Sep 1, 2016 at 8:52 AM, Robert D Vincent notifications@github.com
wrote:

[2016-09-01 15:46] rdvincent commented on #65
@zijdenbos Correct. The default was changed in Register a long time ago - I just changed it in Display today.

[2016-09-01 15:46] rdvincent commented on #65
@zijdenbos Byte volumes are so 1996.

[2016-09-01 15:56] zijdenbos commented on #65
That's only 20 years ago :)

On Thu, Sep 1, 2016 at 11:46 AM, Robert D Vincent notifications@github.com
wrote:

[2016-09-17 14:36] rdvincent commented on #58
@gdevenyi Finally working on this. One question - should the label become invisible in both the slice views and the intensity plot?

[2016-09-19 12:58] gdevenyi commented on #58
Since this is to see the structure underneath the label, they intensity label can stay.

[2016-09-19 21:34] gdevenyi opened #66 "Display develop HEAD segfaults with high-res label as "-label", loads as normal image."
[code]

[code]

[code]

[2016-09-19 21:38] vfonov commented on #66
try mincreshape -byte -image_range 0 106 -valid_range 0 106 label1.mnc label2.mnc
and then try loading label2.mnc

[2016-09-19 22:08] gdevenyi commented on #66
Same failure.

[2016-09-20 10:53] rdvincent commented on #66
@gdevenyi thanks for the report - i have reproduced it with a simulated file, should fix it today.

[2016-09-20 13:47] gdevenyi opened #67 ""Load" vertstats file as surface label?"
I have a vertstats file I'd like to use a "label" set, rather than a continuous statistics set.

Loading it with the regular method doesn't look nice, as the labels cover a wide range and don't map nicely to a continuous display.

Display now has manual "surface segmentation", is there a possibility of loading a verstats file as a surface segmentation rather than as statistics?

[2016-09-20 14:03] rdvincent commented on #67
@gdevenyi So like the volumetric labels, integer values (I hope they are integers) on the vertices would map to specific colours, rather than a continuous colour map?

[2016-09-20 14:24] gdevenyi commented on #67
Correct

[2016-09-20 15:41] rdvincent commented on #66
@gdevenyi This should be fixed now.

[2016-09-20 15:56] gdevenyi commented on #66
Yup, fixed! Thanks.

[2016-09-20 15:56] #66 closed, assigned to rdvincent

[2016-09-21 17:55] gdevenyi commented on #58
Currently implementation works, however I think the intent of this request is to be able to "flip" the labels on an off. That's a bit clunky right now. Maybe if it if it were "turn on/off currently painting label"?

[2016-09-21 18:08] rdvincent commented on #58
@gdevenyi Yes, the command structure leaves something to be desired. What you propose would be very easy to implement, and hopefully easy for users to understand. I just don't know if they need more flexibility.

[2016-09-21 18:19] rdvincent commented on #52
note to self: appears to be related to the value of view.front_distance.

[2016-09-21 20:43] gdevenyi commented on #58
Very true. I'll label this as solved for now, and if they have issues with use, I'll bring it up again.

Thanks!

[2016-09-21 20:43] #58 closed, assigned to rdvincent

[2016-09-22 12:33] rdvincent commented on #58
@gdevenyi - I am working on a big new feature, which would give a list of labels similar to the existing list of objects. You will hopefully be able to enable/disable individual labels with a checkbox.

[2016-09-22 12:37] gdevenyi commented on #58
wow, sounds great!

[2016-09-23 17:05] gdevenyi opened #68 "Display "flickers" while drawing a intensity line"
While drawing a line (even if the the mouse doesn't move), the volume window flickers.

Probably something in the OpenGL stack.

[2016-09-23 19:54] rdvincent commented on #68
@gdevenyi I don't see that on my systems. Can you give me any details of the machine and OS?

[2016-09-23 20:32] gdevenyi commented on #68
Ubuntu 14.04.3, nvidia-367 driver.

[2016-09-23 20:33] rdvincent commented on #68
thanks, I don't have access to many nvidia system. I'll see if I can find something.

[2016-09-23 20:36] gdevenyi commented on #68
It may be related to vsync, as on a system with a different monitor (refresh rate) it's harder to trigger (less flickering), but still does.

This is with the latest rdv opengl stuff.

[2016-09-23 20:40] rdvincent commented on #68
Can you try running with Slice_double_buffer_flag set to TRUE? I'm not sure it even does anything these days, however.

[2016-09-23 20:43] gdevenyi commented on #68
That seems to smooth things out.

[2016-09-23 20:45] rdvincent commented on #68
OK, glad I didn't completely disable that feature. Double buffering seems to be on its way out as a feature of OpenGL, but I guess not in all cases.

[2016-10-04 21:36] gdevenyi opened #69 "Small Bug: Display "queues up" keyboard presses when popup window is active"
If I press something on the Display keyboard, say "D (Colour Coding)" -> "Z (Under Colour)", I get a popup.

Due to my "sloppy mouse" in X, sometimes I end up putting keypresses into the Display or keyboard window instead of the input popup, then when I finally fill in/okay the popup, those key presses are processed by Display, making a great variety of unintended things happen since I was intendi

[2016-10-27 16:11] surchs opened #70 "Add Zenity to Linux requirements"
Zenity is not a default install (at least on my Linux install of Debian 8). As a consequence, any gui elements don't get displayed and the error message only comes up in the terminal (where I didn't notice it for some time).

There is a [section on installing this for Mac OS](http://www.bic.mni.mcgill.ca/software/Display/Display.html#x1-57000A.1), should probably also include Linux.

[2016-11-01 15:34] gdevenyi opened #71 "Display volumetric display of objects runs out of colours"
When loading more than 8 objects, every object after that is coloured white.

[2016-11-01 16:08] rdvincent commented on #71
Sorry, yes the automatic colour assignment is very limited right now. You can work around this by specifying a colour for the object on the command line: `object_name.obj:cyan`, e.g.

[2016-11-01 21:29] gdevenyi commented on #71
oh, that's cool. Thanks.

[2016-12-01 14:37] gdevenyi opened #72 "Command line vertex loading doesn't work"
[code]

Probably an out-of-order part in the loading code.

[2016-12-01 15:16] gdevenyi opened #73 "Error/Sefault for loading vertex data (devel branch) with multiple objects"
[code]

Things that happen
- segault (sometimes)
- ``get_colour_code(): invalid piecewise function.`` spams the console (sometimes) and the colour of the object is black
- just works as normal (sometimes)
- Loads as black, on exit reports: ``*** Error in `Display': munmap_chunk(): invalid pointer: 0x0000000002da3098 ***``

This is all for the same objects and vertex files.

So, I'm guessing memory

[2016-12-01 15:21] gdevenyi opened #74 "FEATURE IDEA: Ability to adjust top/bottom of vertex colourbar range?"
If I'm loading multiple objects with multiple vertex stats files, sometimes I'd like to harmonize the colour bars for the range to be consistent.

Is there a way to adjust the top/bottom levels of the colourbar? If not, could there be?

[2016-12-01 17:03] rdvincent commented on #73
@gdevenyi Should be fixed.

[2016-12-01 17:04] rdvincent commented on #74
@gdevenyi Nothing that I know of, but I'm sure we can figure out a way to do it.

[2016-12-01 17:04] rdvincent commented on #72
@gdevenyi It was broken when I added GIFTI support but I corrected the problem(s).

[2016-12-01 20:33] gdevenyi commented on #73
Thanks!

[2016-12-01 20:33] #73 closed, assigned to rdvincent

[2016-12-01 20:33] gdevenyi commented on #72
Thanks!

[2016-12-01 20:33] #72 closed, assigned to rdvincent

[2016-12-02 14:32] rdvincent commented on #67
@gdevenyi This is now possible with GIFTI "label" files, as they can contain colour map information. Can you give me an example of a vertstats file that would have this type of data? I'm curious to see what, if any, metadata is present. Otherwise I can just have a special case that uses a discrete colour map if integer data is detected.

[2016-12-05 00:54] gdevenyi commented on #67
The AAL, DKT, lobe maps from CIVET.

[2016-12-05 00:55] gdevenyi commented on #67
And these https://github.com/CobraLab/atlases/tree/master/colin27-subcortical/surfaces

[2016-12-08 16:30] rdvincent commented on #64
@lblewis This can be done easily if you don't mind if the surfaces themselves display in colour, e.g., if the 3d view, text, and outline for the first surface are _all_ green.

[2016-12-09 00:03] #57 closed, assigned to rdvincent

[2016-12-09 00:08] rdvincent commented on #27
@gdevenyi Can you verify whether this is still the case? I can't seem to reproduce it, I may have fixed it and forgotten to update the issue.

[2016-12-09 15:27] gdevenyi commented on #27
Seems to be fixed now. Thanks!

[2016-12-09 15:27] #27 closed

[2016-12-12 20:01] lblewis commented on #64
Sounds logical to me!

[2016-12-19 21:18] vfonov opened #75 "Volumetric display of surfaces ignores object colour"
Hello,

so, when I load .obj file without colour information, Display assigns different colours when showing them inside the volume. But when I load objects which do have colour assigned to them, Display shows it properly in 3D surface view, but still assigns predetermined colours in volume view.
![display_screenshot](https://cloud.githubusercontent.com/assets/628822/21329445/b45e2f9a-c606-11e6-86

[2016-12-19 23:09] rdvincent commented on #75
@vfonov Does the file have a single, non-white, colour assigned? If so, Display should use that colour. If the file uses per-vertex or per-item colours, Display will still auto-assign the cross-section colour.

[2016-12-19 23:10] vfonov commented on #75
I think it is a single colour , but assigned on vortex level.

[2016-12-20 20:54] vfonov opened #76 "Display of .ply object fails"
I have a .ply object produced by rply library ( http://w3.impa.br/~diego/software/rply/ ) , it works fine with other software (i.e CloudCompare works - see attached pik).
On latest Display, I am getting error message:
Input test_l_hc_e0.5_red.ply
Can't read this .ply file, missing the vertex indices.
Error inputting binary data.
     (38858 out of 1600482420 items of size 12).
System message: Reso

[2016-12-20 21:12] rdvincent commented on #76
@vfonov Should be fixed in BIC-MNI/bicpl develop now.

[2016-12-20 21:17] gdevenyi opened #77 "Loading/display of VTK objects?"
VTK objects are mostly interchangeable with OBJ files via VTK's IO.

It stands to reason Display may be able to load them directly, similar to .ply files

[2016-12-22 16:28] rdvincent commented on #77
@gdevenyi Not impossible, but it would take some work. VTK seems to have used several different formats over the years, their current one is XML-based.

[2017-01-24 18:59] gdevenyi opened #78 "Ability to independently show/hide volume object view and surface object view"
A user of mine requests the ability to independently show/hide objects in volume view and surface view.

Currently the checkboxes in the object list show/hide in both.

[2017-02-03 20:12] gdevenyi opened #79 "Intensity plot box for NIFTI images *with* time dimension is all white"
Loading a NIFTI timeseries image results in a solid white box where the intensity plot usually is.

Converting the NIFTI to MINC and loading it displays properly.

[2017-02-04 15:39] rdvincent commented on #79
@gdevenyi Thanks - I don't see this with the few functional files I have, can you give me any details about the file (e.g. the output of nifti_tool -infiles <filename> -disp_hdr)?

[2017-02-04 17:21] rdvincent commented on #78
Do they really need two independent controls, one for the volume view and one for the surface view?

What is the specific case they want?

You could play with opacity, which affects only the 3D view, or you can independently turn off all of the surface view outlines. Not sure if either of those workarounds helps.

[2017-02-06 15:11] gdevenyi commented on #79
[code]

[2017-02-06 15:20] rdvincent commented on #79
Thanks, I think this is a units issue, as this file is using msec instead of seconds for the time units - I'll test that theory soon.

[2017-04-19 22:30] vfonov opened #80 "can't run ppm_to_pixels on MacOSX"
While building on MacOSX:
[code]

[2017-05-25 18:19] gdevenyi opened #81 "Volumetric representation of surface object colouring doesn't update until clicked"
When changing which column is used to colourize a vertex-wise object (with Ctrl-V) the volume view doesn't update with new colours until the volumetric area is clicked.

[2017-10-11 06:50] claesnl opened #91 "Display: Zoom out fails when displaying data with time dimension"
When displaying 4D MRI (with a time dimension) zoom in works fine, but zoom out does not. Zoom on 3D data works fine.

Tested both on develop branch running on Ubuntu 17.04, and master branch on an osx computer.

Display 2.0.6 (built Oct 11 2017) git:HEAD/0c2c80e
FreeGLUT 2.8.1 API V4
OpenGL 3.0 Mesa 17.0.3

[2017-12-14 15:43] gdevenyi opened #82 "Feature request: set over and under colours for colour map to top and bottom colours of custom colour map"
If I load a custom colour map where "white" isn't the top colour, particularly when using the 3D object display, its very inconvenient to find/copy/paste the RGB value of the over colour, it would be helpful if that were set when loading a colourmap based on the top/bottom colours of the map.

[2017-12-19 16:40] gdevenyi commented on #67
Using this and generally it looks great, one issue, the value "0" should probably be treated special.

Right now, it gets considered and assigned a colour, I think it should probably be the object base colour.

[2018-01-12 15:52] gdevenyi opened #83 "(minc-toolkit/1.9.15) env invocation of zenity uses gnu-only flag (OSX problem)"
Installing minc-toolkit/1.9.15 on OSX following the installation instructions in the Display manual results in a broken Display, because Display is trying to launch `zenity` using `env` with a gnu-only option.

Either Display on OSX needs to also depend on `coreutils` or the `env` invocation should be adjusted to not use gnu-only options.

[2018-01-12 18:11] vfonov commented on #83
@rdvincent ?

[2018-02-28 15:46] cfhammill opened #84 "Colour coding obj broken with non-triangular mesh (minc-toolkit-v2-1.9.15)"
Forwarding this bug report along. It looks like the colour coding functionality in Display breaks with non-triangular meshes. Can be fixed trivially before-hand with `triangulate_polygons`

Steps to reproduce:
---

Download example.obj.gz (attached):
[example.obj.gz](https://github.com/BIC-MNI/Display/files/1767721/example.obj.gz)

[code]

in 3D view observe:

![image](https://user-images.githubus

[2018-05-11 14:47] #63 closed, assigned to nobody

[2019-02-18 16:22] #67 closed, assigned to rdvincent

[2019-06-19 16:51] gdevenyi opened #85 "Distinct value detection for vertex display should map "0" to white/transparent/undercolour"
If I Display an object with something like AAL,
[code]

The "0" value gets a colour, but really, it should probably get no colour, since its the "no label" state.

[2019-07-05 15:44] guilhermepovala opened #86 "Unrecognized object type in file"
Hi,

When I try to open a .obj file in Display, it raises the error: Unrecognized object type in file.
It´s funny because, in Mac OS' Display, it works, but it doesn't in Ubuntu.

Is there anything I can do?

[2019-07-05 16:03] gdevenyi commented on #86
Hi, you're going to need to provide a lot more information on versions and files to help at all here.

[2019-07-05 16:15] guilhermepovala commented on #86
I installed the last version of minc following all the steps here: https://bic-mni.github.io/

The file is this one: https://drive.google.com/file/d/1lovw02VfE1Sr8k7M6tCH62iC_q7Zr2Xp/view?usp=sharing

[2019-07-05 16:33] gdevenyi commented on #86
I need full version information for that to mean anything, as well as full details on *which* ubuntu.

[2019-07-05 16:34] gdevenyi commented on #86
It would also be useful to describe the origins of the file you are supplying.

[2019-07-05 16:40] gdevenyi commented on #86
The file has been touched/modified/edited on a Windows/MAC machine, resulting in incorrect line terminators:
[code]

Converting to unix line terminators fixes the problem:
[code]

[2019-07-05 16:40] #86 closed, assigned to nobody

[2022-02-01 18:26] jennydaman opened #87 "Display as an AppImage"
Hello,

I would like to share something I did: Display in an AppImage.
In other words, it's a single file which you can download and run to run Display on almost any Linux.

https://github.com/FNNDSC/Display.AppImage

Use cases might include where it's preferred to work in containerized environments only, or user is having trouble installing `minc-toolkit`.

I hope someone finds this useful!

I've

[2022-02-01 19:42] gdevenyi commented on #87
Cool. Might be nice to automate publication to some repository.

[2022-02-01 19:44] jennydaman commented on #87
It wouldn't be hard to put it on Github Actions though minc-toolkit sees a new release less than once a year, so I didn't. Though if interest picks up in using AppImage as a legitimate solution for MINC visualization tools then I would be glad to contribute.

[2022-06-03 13:17] jadenecke opened #88 "Feature Request: Ask for Confirmation on permanent label actions"
There is a call for confirmation on reset_segmentation and clear_slice in the menu. However there is non for irreversible label actions, namely fill_connected_3d, copy_labels_from_lower_slice, and copy_labels_from_higher_slice. Especially the first is detrimental as I sometimes fat-finger the '6' when i am trying to hit '+' on my num-keypad. You know, when the whole program is not responding for a

[2022-06-03 14:40] vfonov commented on #88
well... Display was written mostly in  yrs. 91-96 and the last person who really knew how it functions left 5 years ago. Ever since it is on life support mode.